Card {
    height: 100%;
    border: 3px solid black;
    margin-left: 5vw;
    margin-right: 5vw;
    display: inline-block;

}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }  

.delete {
    background-color: red;
    border-radius: 4px;
    color: #f8f8f8;
    min-height: 50px;
    min-width: 100px;
    outline:0;
    cursor: pointer;
}
.submit {
    background-color: #00acb0;
    border-radius: 4px;
    color: #f8f8f8;
    min-height: 50px;
    min-width: 100px;
    outline:0;
    cursor: pointer;
}
li {
    list-style: none;
}