Card {
    height: 100%;
    border: 3px solid black;

}
.card{
    margin-left: 2.5vw;
    margin-right: auto;
}
ul {
  text-align: center !important;
}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }  

.event {
  /* : left !important; */
  margin-left: 0em !important;
  margin-right: auto;
  color: #f8f8f8;
  background-color: #9775aa;
  min-height: 60px;
  min-width: 100%;
  text-align: center !important;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
}
.delete {
    background-color: red;
    border-radius: 4px;
    color: #f8f8f8;
    min-height: 50px;
    min-width: 100px;
    outline:0;
    cursor: pointer;
}
.submit {
    background-color: #9775aa;
    border-radius: 4px;
    color: #f8f8f8;
    min-height: 50px;
    min-width: 100px;
    outline:0;
    cursor: pointer;
}
li {
    list-style: none;
}