.day-card{
    width: 70%;
    height: 95%;
    border: 3px solid black;
}

.delete {
    background-color: red;
    border-radius: 4px;
    color: #f8f8f8;
    min-height: 50px;
    min-width: 100px;
    outline:0;
    cursor: pointer;
}
.submit {
    background-color: #00acb0;
    border-radius: 4px;
    color: #f8f8f8;
    min-height: 50px;
    min-width: 100px;
    outline:0;
    cursor: pointer;
}
li {
    list-style: none;
}